<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhF2PotGzsl5Hev1YJgiN6DA41mbyPlZc</string>
	<key>GCM_SENDER_ID</key>
	<string>725553081092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.howiquit.app</string>
	<key>PROJECT_ID</key>
	<string>how-i-quit-dev-9f10f</string>
	<key>STORAGE_BUCKET</key>
	<string>how-i-quit-dev-9f10f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725553081092:ios:2277bed7efa62d10e53e51</string>
</dict>
</plist>